* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Roboto', sans-serif;
}

.main-style-2 {
  margin-top: -2.5rem;
}

.small-box {
 text-align: center;
 padding: 0px 8px;
}


.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


